@font-face {
    font-family: "Header";
    src: url("../Fonts/BebasNeue.otf") format("woff")
  }

@font-face {
    font-family: "Body";
    src: url("../Fonts/helvetica.otf") format("woff")
  }

.bio {
    font-family: "Body", Fallback, Helvetica;
}

.bio a {
    font-style: italic;
    text-decoration-line: line-through;
}

a {
    text-decoration: none;
}

.topNavigation {
    height: 5%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    color: white;
}

.log {
    float: left;
    padding-left: 2.5%;
    padding-top: .3%;
    color: white; 
}

.log:hover {
    color: #7389AE;
}

.log:visited {
    color: rosybrown;
}

.email {
    float: right;
    padding-right: 1%;
    padding-top: .3%;
    color: white;   
}

.languages{
    float: right;
    padding-right: 4%;
    padding-top: .3%;
}

.navbar {
    position: inline;
    padding-top: .7%;
}


.email:hover {
    color: #7389AE;
}
.languages:hover {
    color: #7389AE;
}

.mainContent {
    margin-top: 1%; /* Add a top margin to avoid content overlay */
    height: 100vh;
}

.bottomElements {
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}
.copyRight {
    display: -webkit-inline-box;
    font-family: helvetica;
}

.gitLink {
    display: -webkit-inline-box;
    color: white;
    font-size: small;
    font-family: helvetica;
    margin-top: 0;
    margin-bottom: 2em;
}

.gitLink:hover {
    color: #7389AE;
}

.projects{
    padding-left: 7%;
    padding-right: 7%;
    overflow: hidden;
}

.bodyContentLink {
    text-decoration: none;
    color: black;
}

.headerContentLink {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
    color: #7389AE;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
}

.endNavigation {
    margin-top: 7em;
    padding-left: 7%;
    padding-right: 7%;
    background-color: lightgray;
    font-family: 'Header', Fallback, Roboto; 
}

.endLinks {
    padding-top: 5em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.endLinks img {
    width: 40px;
    height: auto;
    padding: 3px;
}

.endIcons {
    align-self: center;
    grid-column: 2/4;
}

.endHome {
    color: black;
    display: grid;
    justify-items: right;
}

.endHome:hover {
    color: #7389AE;
}