@font-face {
    font-family: "Header";
    src: url("../Fonts/Lato.otf") format("woff")
  }

@font-face {
    font-family: "Body";
    src: url("../Fonts/LatoRegular.otf") format("woff")
  }

.bio {
    font-family: "Body", Fallback, Helvetica;
}

.bio a {
    font-style: italic;
    text-decoration-line: line-through;
}

a {
    text-decoration: none;
}

.topNavigation {
    height: 7%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding-right: 3%;
    padding-left: 3%;
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: 2fr 1fr 4fr;
    grid-template-rows: 100%;
}

#log {
    padding-left: 8%; 
}

#log img {
    width: 50px;
}

#log img:hover {
    box-shadow: none;
}

#log span[id='yesHover'] {
    display: none;
}

#log:Hover span[id='noHover']{
    display: none;
}

#log:Hover span[id='yesHover']{
    width: 50px;
}

.primaryNav {
    height: 100%;
    width: 97%;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.primaryNav a {
    color: white;
    font-family: 'Header';
    font-size: large;
    align-self: center;
}

.primaryNav p {
    margin: 0;
     display: inline;
     font-family: 'Header';
     font-size: x-large;
}

.mainLinks {
    text-align: -webkit-center;
    align-self: center;
    display: flex;
    justify-content: space-evenly;
}

.navbar {
    align-self: center;
}

.topSpace {
    height: 10em;
  }

.mainContent {
    /* padding-top: 9%; Add a top margin to avoid content overlay */
    height: 100vh;
}

.bottomElements {
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}
.copyRight {
    display: -webkit-inline-box;
    font-family: helvetica;
}

.gitLink {
    display: -webkit-inline-box;
    color: white;
    font-size: small;
    font-family: helvetica;
    margin-top: 0;
    margin-bottom: 2em;
}

.gitLink:hover {
    color: #0CF01B;
}

.projects{
    padding-left: 7%;
    padding-right: 7%;
    padding-bottom: 7em;
    overflow: hidden;
}

.bodyContentLink {
    text-decoration: none;
    color: black;
}

.headerContentLink {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
    color: #0CF01B;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr; 
}

.endNavigation {
    padding-left: 7%;
    padding-right: 7%;
    background-color: lightgray;
    font-family: 'Header', Fallback, Roboto; 
}

.endLinks {
    padding-top: 5em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.endLinks img {
    width: 40px;
    height: auto;
    padding: 3px;
}

.endIcons {
    align-self: center;
    grid-column: 2/4;
}

.endHome {
    color: black;
    display: grid;
    justify-items: right;
}

.endHome:hover {
    color: #0CF01B;
}

@media only screen and (min-width: 768px){
    /* For everything bigger than 768px */
    .topNavigation {
        height: 10%;
        grid-template-columns: 2fr 1fr 4fr;
    }

    .grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}