@font-face {
    font-family: "Header";
    src: url("../Fonts/BebasNeue.otf") format("woff")
  }

@font-face {
    font-family: "Body";
    src: url("../Fonts/helvetica.otf") format("woff")
  }

.titles {
    margin-top: 10%;
    font-family: 'Header', Fallback, Roboto; 
    font-size: 1.5em;
}

h1 {
    display: inline;
    margin-right: 3%;
}

.tagline {
    display: inline;
    font-family: 'Body', Fallback, Helvetica;
}